In [2]:
!pip install sqlalchemy PyMySQL --quiet

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
python.exe -m pip install --upgrade pip

SyntaxError: invalid syntax (842801469.py, line 1)

In [4]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\seyi\appdata\local\programs\python\python310\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 68.4 kB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine

In [6]:
from getpass import getpass

In [7]:
password = getpass()

 ········

In [8]:
engine = create_engine('mysql+pymysql://root:{}@localhost:3306/ClassicModels'.format(password))

In [10]:
with engine.connect() as conn:
    result = conn.execute('SELECT `officeCode`, `city`, `phone` FROM `offices`;')

In [11]:
result

In [12]:
offices = list(result)

In [13]:
offices

[('1', 'San Francisco', '+1 650 219 4782'),
 ('2', 'Boston', '+1 215 837 0825'),
 ('3', 'NYC', '+1 212 555 3000'),
 ('4', 'Paris', '+33 14 723 4404'),
 ('5', 'Tokyo', '+81 33 224 5000'),
 ('6', 'Sydney', '+61 2 9264 2451'),
 ('7', 'London', '+44 20 7877 2041')]

In [14]:
import pandas as pd

In [15]:
pd.DataFrame(offices, columns=['officeCode', 'city', 'phoneNumber'])

  officeCode           city       phoneNumber
0          1  San Francisco   +1 650 219 4782
1          2         Boston   +1 215 837 0825
2          3            NYC   +1 212 555 3000
3          4          Paris   +33 14 723 4404
4          5          Tokyo   +81 33 224 5000
5          6         Sydney   +61 2 9264 2451
6          7         London  +44 20 7877 2041